.cart-dropdown {
  position: absolute;
  width: 32rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  background-color: white;
  top: 9rem;
  right: 6.3rem;
  z-index: 5;

  .empty-message {
    font-size: 1.8rem;
    margin: 7rem auto;
  }

  .cart-items {
    height: 32rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }
}
